Resources:
  GoGlobalQueue: 
    Type: "AWS::SQS::Queue"
  GoGlobalTopic:
    Type: AWS::SNS::Topic
    Properties: 
      Subscription:
        - Endpoint:
            Fn::GetOptionSetting:
              OptionName: GoGlobalEmail
              DefaultValue: "ddavis30904@gmail.com"
          Protocol: email
        - Endpoint:  
            Fn::GetAtt:  ["GoGlobalQueue", "Arn"]
          Protocol: "sqs"
  AllowSNS2SQSPolicy: 
    Type: "AWS::SQS::QueuePolicy"
    Properties: 
      Queues: 
        - 
          Ref: "GoGlobalQueue"
      PolicyDocument: 
        Version: "2008-10-17"
        Id: "PublicationPolicy"
        Statement: 
          - 
            Sid: "Allow-SNS-SendMessage"
            Effect: "Allow"
            Principal: 
              AWS: "*"
            Action: 
              - "sqs:SendMessage"
            Resource: 
              Fn::GetAtt: 
                - "GoGlobalQueue"
                - "Arn"
            Condition: 
              ArnEquals: 
                aws:SourceArn: 
                  Ref: "GoGlobalTopic"
files:
  "/var/app/app.config":
    mode: "000444"
    owner: "apache"
    group: "apache"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      NEW_SIGNUP_TOPIC = '`{ "Ref" : "GoGlobalTopic"}`'
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "ddavis30904@gmail.com"
